#pageTitle {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    padding: 25px;
}

#fall_heading {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    padding-bottom: 20px
}

#fall {
    width: min(500px, 50vw);
    margin: 0 auto;
}

.boardEntry {
    background-color: rgb(255, 215, 0);
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px
}

.left_text {
    float: left;
    padding: 10px;
    padding-left: 30px;
    
}

.right_text {
    float: right;
    padding: 10px;
    padding-right: 30px;
}

.cloud_img {
    grid-area: cloud_img;
    width: 15vw;
}

.cloud_img_flipped {
    grid-area: cloud_img_flipped;
    width: 15vw;
    transform: scaleX(-1);
}

.welcome_message {
    grid-area: welcome_message;
    text-align: center;
    width: max(70vw, 300px);
}

.mario_jumping {
    grid-area: mario_jumping;
    height: min(25vw, 200px);
}

.bowser_kart {
    grid-area: bowser_kart;
    height: min(25vw, 200px);
    align-items: end;
}

.site_body {
    display: grid;
    grid-template-areas:
    "cloud_img site_header cloud_img_flipped"
    "welcome_message welcome_message welcome_message"
    "mario_jumping fall_leaderboard bowser_kart";
    align-items: center;
}