#pageTitle {
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    padding: 25px;
}

#fall_heading {
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    padding: 5px;
    margin: 30px;
}

#fall {
    width: 50vw;
    margin: 0 auto;
}

.boardEntry {
    background-color: rgb(255, 215, 0);
    text-align: center;
    font-family: monospace;
    font-size: 3vw;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.left_text {
    float: left;
    padding: 10px;
    padding-left: 30px;
    
}

.right_text {
    float: right;
    padding: 10px;
    padding-right: 30px;
}

.cloud_img {
    grid-area: cloud_img;
    width: 15vw;
}

.cloud_img_flipped {
    grid-area: cloud_img_flipped;
    width: 15vw;
    transform: scaleX(-1);
    justify-self: end;
}

.com_logo {
    grid-area: com_logo;
    width: 10vw;
}

.welcome_message {
    grid-area: welcome_message;
    text-align: center;
    margin: auto;
    width: max(50vw, 300px);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    font-size: 20px;
}

.fall_leaderboard {
    grid-area: fall_leaderboard;
}

.pwr_block{
    grid-area: pwr_block;
    height: min(5vw, 50px);
    justify-self: start;
    align-self: end;
    margin-left: 50px;
}

.mario_jumping {
    grid-area: mario_jumping;
    height: min(25vw, 200px);
}

.bowser_kart {
    grid-area: bowser_kart;
    height: min(25vw, 200px);
    justify-self: end;
}

.link_img {
    grid-area: link_img;
    height: min(25vw, 200px);
    justify-self:center;
}

.site_body {
    display: grid;
    grid-template-areas:
    "cloud_img site_header cloud_img_flipped"
    "welcome_message welcome_message welcome_message"
    "pwr_block fall_leaderboard link_img"
    "mario_jumping fall_leaderboard bowser_kart";
    align-items: center;
}

.sewer_pipe {
    width: min(10vw, 100px);
    margin-left: 20px;
}

.brick_row {
    display: flex;
    flex-direction: row;
}

.brick_row img{
    width: 25%;
}

@media (max-width: 500px) {
    .site_body {
        grid-template-areas:
        "cloud_img site_header cloud_img_flipped"
        "welcome_message welcome_message welcome_message"
        "fall_leaderboard fall_leaderboard fall_leaderboard"
        " mario_jumping link_img bowser_kart";
    }

    .left_text {
        padding-right: 0px;
        background-color: red;
    }

    .right_text {
        padding-left: 0px;
    }

    .bowser_kart {
        margin-top: 20px;
        justify-self: end;
    }

    .mario_jumping {
        justify-self: start;
        align-self: end;
    }

    .link_img {
        display: none;
    }

    .pwr_block {
        display: none;
    }

    .sewer_pipe {
        display: none;
    }

    #fall {
        width:80vw;
    }
}